# VITE_API_BASE_URL: The base URL of the Django backend API server.
VITE_API_BASE_URL="http://127.0.0.1:8000/api"

# APP_URL: The URL where this client is hosted (used for OAuth callbacks).
APP_URL="http://localhost:3000"
