@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=JetBrains+Mono&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  font-family: var(--font-sans);
  background-color: #0D0D12;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.glass {
  background: #1C1C24;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
}

